#! /usr/bin/env bash
export UAVO_HASH="${UAVO_HASH}"
export UAVO_HASH8="${UAVO_HASH8}"
export ORIGIN="${ORIGIN}"
export HASH="${HASH}"
export HASH8="${HASH8}"
export TAG="${TAG}"
export TAG_OR_BRANCH="${TAG_OR_BRANCH}"
export TAG_OR_HASH8="${TAG_OR_HASH8}"
export LABEL="${LABEL}"
export REVISION="${REVISION}"
